<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.repository.jc.jcuserstatis.JcUserStatisDao" >
  <resultMap id="BaseResultMap" type="JcUserStatis" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="strong_point" property="strongPoint" jdbcType="VARCHAR" />
    <result column="total_profit_rate" property="totalProfitRate" jdbcType="DECIMAL" />
    <result column="total_win_cnt" property="totalWinCnt" jdbcType="INTEGER" />
    <result column="total_lost_cnt" property="totalLostCnt" jdbcType="INTEGER" />
    <result column="my_buy_cnt" property="myBuyCnt" jdbcType="INTEGER" />
    <result column="my_bet_cnt" property="myBetCnt" jdbcType="INTEGER" />
    <result column="highest_level" property="highestLevel" jdbcType="INTEGER" />
    <result column="total_consumption" property="totalConsumption" jdbcType="INTEGER" />
    <result column="total_recharge" property="totalRecharge" jdbcType="INTEGER" />
    <result column="total_conversion" property="totalConversion" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="find" resultMap="BaseResultMap" parameterType="JcUserStatis" >
    select *
    from jc_user_statis
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="findByPage" resultMap="BaseResultMap" parameterType="JcUserStatis" >
    select
    a.*,b.mobile,b.nick_name
    from jc_user_statis a, jc_user b
    where a.user_id=b.user_id
    <if test="param.keyWord != null">
      and (a.user_id LIKE CONCAT('%',#{param.keyWord},'%')
        or b.mobile LIKE CONCAT('%',#{param.keyWord},'%')
        or b.nick_name LIKE CONCAT('%',#{param.keyWord},'%')
      )
    </if>
  </select>




  <insert id="insertSelective" parameterType="JcUserStatis" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into jc_user_statis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="strongPoint != null" >
        strong_point,
      </if>
      <if test="totalProfitRate != null" >
        total_profit_rate,
      </if>
      <if test="totalWinCnt != null" >
        total_win_cnt,
      </if>
      <if test="totalLostCnt != null" >
        total_lost_cnt,
      </if>
      <if test="myBuyCnt != null" >
        my_buy_cnt,
      </if>
      <if test="myBetCnt != null" >
        my_bet_cnt,
      </if>
      <if test="highestLevel != null" >
        highest_level,
      </if>
      <if test="totalConsumption != null" >
        total_consumption,
      </if>
      <if test="totalRecharge != null" >
        total_recharge,
      </if>
      <if test="totalConversion != null" >
        total_conversion,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="totalInvite != null" >
        total_invite,
      </if>
      <if test="totalInviteIncome != null" >
        total_invite_income,
      </if>
      <if test="totalFdCnt != null" >
        total_fd_cnt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="strongPoint != null" >
        #{strongPoint,jdbcType=VARCHAR},
      </if>
      <if test="totalProfitRate != null" >
        #{totalProfitRate,jdbcType=DECIMAL},
      </if>
      <if test="totalWinCnt != null" >
        #{totalWinCnt,jdbcType=INTEGER},
      </if>
      <if test="totalLostCnt != null" >
        #{totalLostCnt,jdbcType=INTEGER},
      </if>
      <if test="myBuyCnt != null" >
        #{myBuyCnt,jdbcType=INTEGER},
      </if>
      <if test="myBetCnt != null" >
        #{myBetCnt,jdbcType=INTEGER},
      </if>
      <if test="highestLevel != null" >
        #{highestLevel,jdbcType=INTEGER},
      </if>
      <if test="totalConsumption != null" >
        #{totalConsumption,jdbcType=INTEGER},
      </if>
      <if test="totalRecharge != null" >
        #{totalRecharge,jdbcType=INTEGER},
      </if>
      <if test="totalConversion != null" >
        #{totalConversion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalInvite != null" >
        #{totalInvite,jdbcType=INTEGER},
      </if>
      <if test="totalInviteIncome != null" >
        #{totalInviteIncome,jdbcType=INTEGER},
      </if>
      <if test="totalFdCnt != null" >
        #{totalFdCnt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="JcUserStatis" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update jc_user_statis
    <set >
      <if test="strongPoint != null" >
        strong_point = #{strongPoint,jdbcType=VARCHAR},
      </if>
      <if test="totalProfitRate != null" >
        total_profit_rate = #{totalProfitRate,jdbcType=DECIMAL},
      </if>
      <if test="totalWinCnt != null" >
        total_win_cnt = #{totalWinCnt,jdbcType=INTEGER},
      </if>
      <if test="totalLostCnt != null" >
        total_lost_cnt = #{totalLostCnt,jdbcType=INTEGER},
      </if>
      <if test="myBuyCnt != null" >
        my_buy_cnt = #{myBuyCnt,jdbcType=INTEGER},
      </if>
      <if test="myBetCnt != null" >
        my_bet_cnt = #{myBetCnt,jdbcType=INTEGER},
      </if>
      <if test="highestLevel != null" >
        highest_level = #{highestLevel,jdbcType=INTEGER},
      </if>
      <if test="totalConsumption != null" >
        total_consumption = #{totalConsumption,jdbcType=INTEGER},
      </if>
      <if test="totalRecharge != null" >
        total_recharge = #{totalRecharge,jdbcType=INTEGER},
      </if>
      <if test="totalConversion != null" >
        total_conversion = #{totalConversion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalInvite != null" >
        total_invite = #{totalInvite,jdbcType=INTEGER},
      </if>
      <if test="totalInviteIncome != null" >
        total_invite_income = #{totalInviteIncome,jdbcType=INTEGER},
      </if>
      <if test="totalFdCnt != null" >
        total_fd_cnt = #{totalFdCnt,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>